.tf-form {
  width: 23rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.tf-title {
  font-size: 1rem;
  margin: 0 0 50px;
  color: #fff;
}

.tf-input-component {
  height: 40px;
  border: 1px solid #fff;
  margin: 7.5px 0;
  font-color: grey;
  width: 100%;
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: inherit;
  color: #fff;
}

.tf-input-component::placeholder {
  letter-spacing: 2px;
  color: white;
}

.tf-btn {
  margin: 50px 0 200px;
  background-color: rgba(90,67,93, .5);
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 60px;
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
}

.tf-btn:hover {
  background-color: rgba(90,67,93, .7);
  cursor: pointer;
}

.tf-form-components {
  width: 100%;
}

.tf-day-input {
  display: flex;
  justify-content: center;
}

.tf-day {
  padding-top: 17px;
  width: 140px;
  color: #fff;
}

.tf-add-btn-container {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.tf-input-and-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tf-add-btn {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid #fff;
  background-color: inherit;
  color: #fff;
  font-size: 1.5rem;
  padding: 0 0 1px 1px;
}

.tf-add-btn:hover {
  cursor: pointer;
  background-color: rgba(144, 105, 86, .6);
}

.tf-add-btn-text {
  font-size: .75rem;
  padding-right: 5px;
  color: #fff;
}




