.tf-form {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.tf-title {
  font-size: 1.5rem;
  margin: 40px 0 20px;
}

.tf-input-component {
  height: 40px;
  border: none;
  margin-bottom: 5px;
  font-color: grey;
}

.tf-btn {
  margin-top: 20px;
  background-color: #E45C8F;
  border: none;
  width: 100%;
  border-radius: 25px;
  height: 50px;
  font-family: 'Shrikhand', cursive;
  font-size: 1.75rem;
}

.tf-form-components {
  width: 100%;
}

.tf-day-input {
  display: flex;
  align-items: center;
}

.tf-day {
  width: 100px;
}

.hide {
  display: none;
}

.tf-add-btn {
  color: #E45C8F;
}

.parent-container {
  height: 100vh;
}

.tf-form-components {
  font-color: grey;
}