.h-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}

.h-title-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h-title {
  font-weight: normal;
  color: #fff;
  font-size: 5rem;
  margin: 30px 0 10px 0;
  letter-spacing: 2px;
}

.h-fanny-pack {
  width: 100px;
  margin: -10px 0 20px;
}

.h-jet {
  margin-top: 13px;
  margin-left: 13px;
  width: 60px;
  height: 60px;
}

.h-search-again {
  color: #fff;
}

.hide {
  display: none;
}
